/*General Styles*/
body {
  background-color: #1b191a;
  border: 10px solid #939393;
  color: #f6e7d8;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

.hidden {
  display: none !important;
}

a {
  color: #f6e7d8;
  text-decoration: none;
}

.section-title {
  border: 1px solid #fff;
  font-family: 'Space Mono';
  font-size: 20px;
  letter-spacing: 4px;
  margin-bottom: 35px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}

.image-box img {
  height: 400px;
  object-fit: cover;
  width: 400px;
}

.site-section {
  border-bottom: 10px solid #939393;
  padding: 100px 30px;
}

.site-section:last-child {
  border-bottom: none;
}

.site-section > .container{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1000px;
}

.portfolio-items .item-box a span {
  font-size: 30px;
  padding-right: 8px;
}

.portfolio-items .item-box a {
  display: flex;
  font-size: 18px;
  margin-bottom: 35px;
  transition: all ease .5s;
}

.portfolio-items .item-box .item-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

/*Intro Section*/
.site-nav a.nav-link {
  color: #059fbd;
  display: block;
  font-family: 'Space Mono';
  font-size: 20px;
  height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all ease .5s;
}

.site-nav a.nav-link:hover {
  color: #f14902;
  font-size: 21px;
}

.nav-link span {
  color: #f14902;
  font-size: 30px;
  padding-right: 8px;
  position: relative;
  top: 7px;
}

.container1 .content-box {
  height: 445px;
  width: 400px;
}

.container1 .page-title h1 {
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, #f14902 34%, #1b191a 34%, #1b191a 66%,#f14902 66%, #f14902 100%) 5;
  font-size: 100px;
  margin-bottom: 40px;
  margin-top: -25px;
  padding-bottom: 30px;
}

/* About Me */
.container2 .image-box {
  position: relative;
  right: 40px;
}

.container2 .content-box {
  padding-left: 75px;
}

.container2 .about-me-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.container2 .about-me {
  font-family: 'Space Mono';
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.4;
  text-transform: uppercase;
}

.container2 .section-title {
  margin-top: 35px;
}

.container2 .contact-box {
  display: flex;
  font-size: 24px;
  position: relative;
}

.container2 .contact-box .contact-item {
  position: absolute;
}

.container2 .contact-box .contact-item:nth-child(1) {
  left: 0;
}

.container2 .contact-box .contact-item:nth-child(2) {
  left: 225px;
}

.container2 .contact-box .contact-item a {
  transition: all ease .5s;
}

.container2 .contact-box .contact-item a:hover {
  color: #f4b325;
  font-size: 25px;
}

.container2 .contact-box .contact-item a i {
  padding-right: 10px;
}

/* Professional Portfolio */
.container3 .image-box {
  position: relative;
  left: 20px;
}

.container3 .content-box {
  padding-right: 75px;
}

.container3 .portfolio-items .item-box:nth-child(1) {
  height: 140px;
}

.container3 .portfolio-items .item-box {
  height: 165px;
}

.container3 .portfolio-items .item-box a:hover {
  color: #059fbd;
  font-size: 19px;
}

.container3 .portfolio-items .item-box a span {
  color: #059fbd;
}

/* Personal Projects */
.container4 .image-box {
  position: relative;
  right: 35px;
}

.container4 .content-box {
  padding-left: 75px;
}

.container4 .portfolio-items .item-box:nth-child(1) {
  height: 300px;
}

.container4 .portfolio-items .item-box:nth-child(2) {
  height: 280px;
}

.container4 .portfolio-items .item-box:nth-child(3) {
  height: 220px;
}

.container4 .portfolio-items .item-box:nth-child(4) {
  height: 195px;
}

.container4 .portfolio-items .item-box a:hover {
  color: #f4b325;
  font-size: 19px;
}

.container4 .portfolio-items .item-box a span {
  color: #f4b325;
}

/* Core Values */
.container5 .content-box {
  text-align: center;
}

.container5 .value-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container5 .value-box .value-item {
  width: 25%;
  padding: 30px;
}

.container5 .value-box .value-item .value-title {
  font-size: 22px;
  margin-bottom: 12px;
}

.container5 .value-box .value-item img {
  width: 150px;
}

/* Screen Breaks*/
@media only screen and (max-width: 1199px) and (min-width: 992px) {

  .site-section > .container{
    width: 900px;
  }

  .container3 .portfolio-items .item-box {
    height: 220px;
  }

  .container3 .portfolio-items .item-box:nth-child(1) {
    height: 170px;
  }

  .container4 .portfolio-items .item-box:nth-child(1) {
    height: 370px;
  }

  .container4 .portfolio-items .item-box:nth-child(2) {
    height: 345px;
  }

  .container4 .portfolio-items .item-box:nth-child(3) {
    height: 255px;
  }

}

@media only screen and (max-width: 991px) and (min-width: 768px) {

  .site-section > .container{
    width: 700px;
  }

  .image-box img {
    height: 300px;
    width: 300px;
  }

  .container2 .image-box {
    right: 25px;
  }

  .container5 .value-box .value-item {
    width: 24%;
  }

}

@media only screen and (max-width: 991px) {

  .container1 .content-box,
  .portfolio-items .item-box {
    height: auto !important;
    width: auto;
  }

  .container1 .page-title h1 {
    font-size: 80px;
  }

  .site-nav a.nav-link {
    font-size: 18px;
  }

  .site-nav a.nav-link:hover {
    font-size: 19px;
  }

  .nav-link span,
  .portfolio-items .item-box a span {
    font-size: 26px;
  }

  .container2 .about-me-title,
  .portfolio-items .item-box .item-title {
    font-size: 22px;
  }

  .container2 .about-me,
  .portfolio-items .item-box a {
    font-size: 16px;
  }

  .section-title {
    font-size: 18px;
    padding: 12px;
  }

  .container2 .contact-box {
    font-size: 20px;
  }

  .container2 .contact-box .contact-item:nth-child(2) {
    left: 175px;
  }

  .image-box {
    left: 0;
    right: 0;
  }

}

@media only screen and (max-width: 767px) {

  .site-section {
    padding: 45px;
  }

  .site-section > .container {
    flex-direction: column;
    width: auto;
  }

  .container1 .content-box,
  .container3 .content-box {
    order: 2;
  }

  .container1 .page-title h1 {
    font-size: 70px;
    text-align: center;
  }

  .container1 .page-title h1 br {
    display: none;
  }

  .site-nav a.nav-link {
    height: auto;
    margin-bottom: 8px;
  }

  .image-box {
    text-align: center;
  }

  .image-box img {
    height: auto;
    margin-bottom: 40px;
    width: 100%;
  }

  .content-box {
    padding: 0 !important;
  }

  .container2 .contact-box .contact-item {
    position: relative;
  }

  .container2 .contact-box .contact-item:nth-child(2) {
    left: 50px;
  }

  .container5 .value-box .value-item {
    padding: 15px;
    width: 100%;
  }

  .container5 .value-box .value-item img {
    width: 120px;
  }

}


/* Music Landing */
.album-landing {
  padding-bottom: 145px;
}

.hero-banner {
  position: relative;
}

.hero-banner img {
  height: 550px;
  object-fit: cover;
  opacity: .5;
  position: relative;
  width: 100%;
  z-index: 2;
}

.hero.text {
  font-family: 'Space Mono';
  font-size: 76px;
  left: 45px;
  position: absolute;
  top: 140px;
  z-index: 2;
}

.hero-overlay {
  background: linear-gradient(90deg, rgba(2,0,33,1) 50%, rgba(255,255,255,1) 100%);
  height: 550px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.album-landing h1.page-header {
  font-size: 40px;
  letter-spacing: 15px;
  margin-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
}

.album-container {
  margin: 0 auto;
  width: 1000px;
}

.album-swiper .swiper-slide {
  cursor: pointer;
  height: 220px;
}

.swiper-slide img {
  height: 150px;
  margin-bottom: 10px;
  object-fit: cover;
  width: 150px;
  transition: all ease .5s;
}

.album-name {
  font-weight: 600;
}

.swiper-slide img:hover {
  height: 160px;
  width: 160px;
}

.row.pagination-row {
  position: relative;
}

.row.pagination-row .swiper-pagination {
  bottom: 25px;
}

.swiper-pagination-bullet {
  background: #fff !important;
  height: 15px !important;
  width: 15px !important;
}

.swiper-pagination-bullet-active {
  background: #f4b325 !important;
}

.album-swiper-arrows {
  margin-bottom: 30px;
  padding: 35px;
  position: relative;
}

.album-swiper-arrows .swiper-button-next,
.album-swiper-arrows .swiper-button-prev {
  color: #f4b325;
}

.album-landing .album-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.album-landing .album-copyright {
  font-style: italic;
  margin-bottom: 20px;
}

.album-landing .album-box {
  display: flex;
}

.album-landing .album-box .info-container {
  margin-right: 75px;
  width: 400px;
}

.album-landing .album-box .info-container em {
  display: block;
  margin-bottom: 15px;
}

.album-landing .album-box .info-container img {
  height: 350px;
  object-fit: cover;
  width: 350px;
}

.album-landing .song-box {
  margin-bottom: 20px;
}

.album-landing .song-title {
  font-family: 'Space Mono';
  margin-bottom: 10px;
}
