.row {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 576px) {
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}